<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ quiz_title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ quiz_title }}</h1>
    <form action="{{ url_for('submit_quiz', quiz_id=quiz_id) }}" method="POST">
        {% for question in questions %}
            <p>{{ question.text }}</p>
            {% for option in question.options %}
                <input type="radio" name="{{ question.id }}" value="{{ option.id }}">{{ option.text }}<br>
            {% endfor %}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>    
</body>
</html>
